.contchosse{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 height:auto;
}
.continputcentered{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 42px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    background-color: #f5f6f5;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    
}
.conttittle{
  display: flex;
  align-items: center;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: 600;
  font-size: 18px;
}
.inputcitybox{
    width: 100%;
      height: 42px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #cccccc00;
      background-color: #cccccc00;
      border-radius: 6px;
      outline: none;
     
}
.contoption{
    width: 50%;
}
.user-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  margin-top: 6px;
  padding-bottom: 20px;
  
}

  
.user-card {
  display: flex;
  flex-direction: row;
  width: 96%;
  height: auto;
  max-height: 120px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 20px;
  padding: 2px;
  border-radius: 8px;
  border: 1px solid #cccccce7;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(71, 71, 71, 0.091);
}
.imgcardcity{
  display: flex;
  height: 100%;
  max-height: 180px;
  background-color: #f5f6f5;
}
.contimgstore{
  width: 100px;
  height: 100px;
}
.btninicioout{
  display: flex;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 9999;
  width: auto;
  height: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.textadress{
  display: flex;
  justify-content: flex-end;
  width: 70%;
  color: #45b745;
  
}
.cont{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contmaps{
  display: flex;
}
.textdeliv{
  display: flex;
  width: 30%;
  
}
.contmapsMobile{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contmapsDesktop{
  display: none;
}
.contdatastoreseach{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: #565656;
  flex-direction: column;
}


@media (min-width: 426px) {

  .contchosse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height:auto;
    margin-top: 10px;
   }
   .continputcentered{
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 42px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
   }
   .inputcitybox{
    width: 100%;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc00;
    background-color: #cccccc00;
    border-radius: 6px;
    outline: none;
        
   }
   .contoption{
       width: 50%;
   }
   .user-grid {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     overflow-x: auto;
     margin-top: 6px;
     padding-bottom: 20px;
   }
     
   .user-card {
     display: flex;
     margin-right: 20px;
     margin-left: 20px;
     margin-top: 12px;
     padding: 20px;
     border-radius: 12px;
     border: 1px solid #ccc;
     box-shadow: 0 2px 6px rgba(71, 71, 71, 0.24);
   }
   .btninicioout{
     display: flex;
     position: absolute;
     top: 20px;
     left: 20px;
     z-index: 9999;
     width: auto;
     height: auto;
     font-size: 18px;
     font-style: normal;
     font-weight: 600;
   }
   .conttittle{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
  }
  .cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-end;
  }
  .textadress{
    display: flex;
    margin-left: 30px;
    color: #45b745;
    justify-content: flex-end;
  }
  .textdeliv{
  }
  .contmapsDesktop{
    display: flex;
    width: 100%;
    background-color: #45b745;
  }
  .contmapsMobile{
    display: none;
  }

}