.container {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: auto;
  background-color: aqua;
  }
  .contmaptop{
    width: 100%;
    height: 200px;
    background-color: aliceblue;
  }
  