.contmap {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative; /* Adicionado para usar position absolute nos filhos */
    align-items: center;
    justify-content: center;
  }
  
  /* Desative a seleção de texto */
  .contmap * {
    user-select: none;
  }
  
  /* Altere o cursor quando o mouse estiver sobre a área do mapa */
  .contmap:hover {
    cursor: grab;
  }
  
  /* Altere o cursor durante o arrasto do mapa */
  .contmap:active {
    cursor: grabbing;
  }
  /* Adicione essas propriedades para estilizar o cartão de apresentação do food truck */

/* styles.css */

/* Estilo base para o contêiner do card */
.store-card-maps {
  background-color: #fff;
  border: 1px solid #ccc;
  position: fixed;
  width: 80%;
  margin-bottom: 68px;
  border-radius: 5px;
  max-width: 300px; /* Largura máxima do card */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.store-card-mapsj {
  display: flex;
  background-color: #6d6d6d18;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0%;
  top: 0%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem do card */
.store-card-image {
  max-width: 100%; /* A imagem não ultrapassará a largura do contêiner */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Centralize a imagem e adicione um espaço na parte inferior */
}

/* Estilo para o título do card */
.store-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

/* Estilo para os detalhes do card (telefone, email, redes sociais) */
.store-card-details {
  font-size: 14px;
}

/* Estilo para os botões do card */
.store-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Estilo para os botões individuais */
.store-card-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para o botão "Fechar" */
.navigate {
  background-color: #ccc;
  color: #fff;
}

/* Estilo para o botão "Ver Cardápio" */
.view-menu {
  background-color: #007bff;
  color: #fff;
}
.contfiltromaps{
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  top: 30px;
  width: 96%;
  height: auto;
  min-height: 58px;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 12px;
  background-color: #fcfcfcfc;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.contdistanceoption{
  display: flex;
  width: 100%;
  height: 42px;
}

