.contlogista {
  display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: rgb(73, 89, 89);
    }
    .teste{
      margin-top: 100px;
    }

    