.containerlogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px); /* Reduz a altura em 100px */
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

  .contleft{
    display: none;
  }
  .divform{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
   align-items: center;
   justify-content: center;
  }
  form {
    width: 80%;
    flex-direction: column;
  }
  

  label {
  font-weight: bold;
  margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 38px;
  }
  .conttitle{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .imgdriver{
    display: none;
    width: 50%;
    height: auto;
  }
  .divtitlelogindesk{
    display: none;
  }
  .loading-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.92);
    padding: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left: 8px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  
  @media (min-width: 500px) {
    .containerlogin{
      display: flex;
      flex-direction: row;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
      }
      .contleft{
        display: flex;
        width: 50%;
        height:100vh;
        justify-content: center;
        align-items: center;
      }
      .imgdriver{
        display: flex;
        width: 50%;
        height: auto;
      }
      .divform{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        border-radius: 5px;
       align-items: center;
       justify-content: center;
       padding-bottom: 60px;
      }
      form {
        width: 70%;
        height: 60%;
        padding-top: 14px;
        flex-direction: column;
      }
      label {
      font-weight: bold;
      margin-bottom: 5px;
      }
      input[type="email"],
      input[type="password"] {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      height: 38px;
      }
      .conttittle{
        display: flex;
        width: 100%;
        height: 160px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
      }
      .continput{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        min-height: 70px;
        margin-top: 1px;
      }
      .divtitlelogindesk{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100px;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        margin-top: 40px;
      }
      .divtextmaster{
        text-align: start;
      }

      @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(-50px); /* Movimento inicial para cima */
        }
        100% {
          opacity: 1;
          transform: translateY(0); /* Sem movimento final */
        }
      }
      
      .divtextmaster {
        font-size: 30px;
        text-align: center;
        animation: slideIn 1.5s ease-in-out; /* Tempo da animação e curva de aceleração */
      }
      
      
  }
  