.contdeskmenu{
    width: 100%;
    height: 68px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    
}
.divdeskinto{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    
}
.divcenetrelogo{
    display: flex;
    width: auto;
    height:60px ;
    margin-left: 16px;
    align-items: center;
}
.logomobi{
    display: flex;
    height: 30px;
    margin-top: 6px;
   
}
.divbtns{
    display: none;
}

.dataper{
    display: none;
}
.contnotify{
    display: none;
    flex-direction: row-reverse;
    width: 100%;
    height: 66px;
}
.divcart{
    display: flex;
    width: 48px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
.coniconopen{
    display: flex;
    width: 28px;
}
.contbtnmenu{
    display: flex;
    width: auto;
    position: absolute;
    z-index: 999999;
    top: 28px;
    right: 20px;
}
.botmenuside{
    display: flex;
    width: 28px;
    position: absolute;
    z-index: 999999;
    top: 20px;
    right: 20px;
}
.contbtngo{
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: flex-end;
    
}
.btnback{
    display:fixed;
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    background-color: #55555500;
}
.btnback:hover{
    display:fixed;
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    background-color: #55555514;
}
.contdatamobi{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #000;
}
.divdatamobi{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.containerfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5; /* Cor de fundo suave */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1); /* Sombra suave na parte inferior */
  }
  
  .btnmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #555; /* Cor do ícone suave */
    cursor: pointer;
  }
  
  .btnmenu:hover {
    color: #000; /* Cor do ícone quando hover */
  }

@media (min-width: 500px ){

    .contdeskmenu{
        width: 100%;
        height: 68px;
        position: relative;
        top: 0;
        background-color: #f5f5f5;
        
    }
    .divdeskinto{
        display: flex;
        width: 100%;
        max-width: 1280px;
    }
    
    .divbtns{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 72px;
        margin-left: 60px;
    }
    .btnmenudesk{
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 6px;
        color: black;
        padding: 8px;
        font-size: 18px;
        font-weight: 600;
    }
    .divlink:hover{
        text-decoration: underline;
    }
    .dataper{
        display: flex;
        flex-direction: row;
        height: 66px;
    }
    .contdatauser{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 20px;
    }
    .contimguser{
     height: 52px;
     border-radius: 100px; 
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }
    .contnotify{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 66px;
        padding-right: 20px;
    }
    .contsair{
        display: flex;
        width: 42px;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
    }
    .divcart{
        display: flex;
        width: 48px;
        height: 66px;
        justify-content: center;
        align-items: center;
    }
    .coniconopen{
        display: none;
        width: 28px;
    }
    .contdatamobi{
     display: none;
    }
    .botmenuside{
        display: none;
    }
    .containerfooter{
        display: none;
    }
    
}