.containerfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5; /* Cor de fundo suave */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1); /* Sombra suave na parte inferior */
}

.btnmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555; /* Cor do ícone suave */
  cursor: pointer;
}

.btnmenu:hover {
  color: #000; /* Cor do ícone quando hover */
}

@media (max-width: 600px) {
  .containerfooter {
    height: 60px; /* Altura maior para melhor visibilidade em telas menores */
  }

  .btnmenu {
    font-size: 12px; /* Tamanho da fonte menor para telas menores */
  }
}

@media (min-width: 500px){
  .containerfooter {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5; /* Cor de fundo suave */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1); /* Sombra suave na parte inferior */
  }
  
.btnmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555; /* Cor do ícone suave */
  cursor: pointer;
}

.btnmenu:hover {
  color: #000; /* Cor do ícone quando hover */
}

@media (max-width: 600px) {
  .containerfooter {
    height: 60px; /* Altura maior para melhor visibilidade em telas menores */
  }

  .btnmenu {
    font-size: 12px; /* Tamanho da fonte menor para telas menores */
  }
}
}