

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Poppins', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 1px; /* Largura da barra de rolagem */
}
/* Estilizando o indicador (bolinha) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Cor da bolinha */
  border-radius: 4px; /* Borda arredondada */
}

/* Estilizando a área na barra de rolagem que não é ocupada pelo indicador */
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor da área da barra de rolagem não ocupada pelo indicador */
}
.btnconfirmar{
  width: 76%;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgb(135, 143, 255);
}
.btnclosemodal{
  width: 76%;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgb(255, 142, 142);
}
.btnremove{
  height: 36px;
  background-color: rgb(89, 152, 255);
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #288cf7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.buttonmobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 48px;
  border-radius: 18px;
  border: none;
  color: #202020;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.buttonprimary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border: none;
  color: #fdfdfd;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #3b84d2d6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.buttonsecundary{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border: none;
  color: #1f1f1fb0;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #0057b31f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.buttonsecundary:hover{
  background-color: #1766bb1f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.continput{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  min-height: 70px;
  margin-top: 1px;
}
.no-pointer-events {
  pointer-events: none;
}
.labeldescript{
  font-size: 14px;
  font-weight: 400;
  color: #1f1f1fec;
}
.google-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4285F4;
  color: #fdfdfd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  padding-right: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.google-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background-color: #eeeeee;
}
.google-icon-cont {
  
  margin-right: 2px;
  height: 32px;
  width: 32px;
}
.google-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.btnbackgo{
  display:fixed;
  position:absolute;
  z-index: 9999;
  top:20px;
  right: 20px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  background-color: #007bff00;
  margin-bottom: 30px;
}
.btnbackgoleft{
  display:fixed;
  position:absolute;
  z-index: 9999;
  top:20px;
  left: 20px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  background-color: #007bff00;
  margin-bottom: 30px;
}
.btnbackgo:hover{
  display:fixed;
  position:absolute;
  z-index: 9999;
  top:20px;
  left: 20px;
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  background-color: #f1f1f100;
  margin-bottom: 30px;
}

/*Cards*/

    .card {
      flex: 0 0 40%; /* Ajustado para exibir 1/5 dos itens por linha */
      margin: 0 1%; /* Espaçamento entre os cards */
      margin-top: 8px;
      padding: 10px;
      height: auto;
      max-height: 300px;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(71, 71, 71, 0.24);
      background-color: #fff;
    }

    .imgprom {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /*Imagens*/
    .imgstoreperson{
      display: flex;
      width: 42px;
      height: 42px;
      border-radius: 21px;
      align-items: center;
      justify-content: center;
      background-color: #007bff;
    }

